name: Check Examples
on: pull_request

jobs:
  check:
    runs-on: ubuntu-20.04
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: zulu
          java-package: jdk+fx
      - run: |-
          ./gradlew build
